

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
}


/* ------------ LES CLASSES FLEX BOX --------------*/
 
.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}
 
.space-around {
justify-content:space-around;
}
 
.space-evenly {
justify-content:space-evenly;
}
 

.justify-center {
justify-content:center;
}
 
.flex-end {
justify-content:flex-end;
}

.inlig
 
.flex-start {
justify-content:flex-start;
}
 
/* alignement verticale */
 
.align-center {
align-items:center;
}
 
.align-end{
align-items:end;
}

.align-flex{
    align-items: flex-end;
}

/* Gap */
 
.gap20 {
gap:20px;
}

.gap40{
    gap: 40px;
}

.Gap230 {
    gap: 230px;
}

/*------ CONTAINER -------*/

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/*----------LES CLASSE DE LARGEUR---------*/

.w25{
    width: 25%;
}
.W100 {
    width: 100px;
}

.w70{
    width: 70%;
}

.w48 {
    width: 48%;
} 

.w40 {
    width: 40%;
}

.w40px {
    width: 40px;
}

.w35 {
    width: 35%;
}

.w10 {
    width: 10%;
}

.w15{
    width: 15%;
}

.w50{
    width: 50%;
}

/*  HEADER  */










.bgimg{
    background-image:  url(asset/photo-1589091637765-cbd0eff73a44.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
   
}

header ul {
    list-style: none;

}

.marginTop20 {
    margin-top: 20px;
}


.marginTop100{
    margin-top: 100px;
}

.marginTop70{
    margin-top: 70px;
}

.bgcube {
    background-color: rgba(255, 255, 255, 0.247);
    border-color: black;
    
}

.textAlign{
    text-align: center;
}

.padding20{
    padding: 20px;
}



.bgcube {
    background-color: rgba(71, 32, 0, 0.082);
    border-color: black;
}

.card {
    
    border-color: rgba(0, 0, 0, 0.128);
    padding: 25px;
}

.entete{
    background-color: rgba(255, 255, 255, 0.655);
    width: 45%;
    border-radius: 32px;
}




.sticky{
    position: sticky;
    left: 0;
}


footer{
    background-image: url(asset/Contact\ Section.png);
    background-size: cover;



    background-repeat: no-repeat;
    position: center;


    height: 400px;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    align-items: center;
    padding-bottom: 40px;

}

footer p {

    margin: 10px 0;
    font-size: 14px;
}



.colorwhite{
    color: white;
}

.textalign{
    text-align: center;
}

.bgimg{

    background-image: url(asset/Image\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*taille figma */
    width: 100%;
    height: 429px;


    /*CENTRER COMME FIGMA */
    display: flex;
    justify-content: center;
    align-items: center;

}
.bgContent {
    text-align: center;
    color: aliceblue;
    max-width: 600px;
}
.bgContent h3{
    font-size: 28px;
    font-weight: 400;
    margin: 20px 0;
}
.bgContent button{
    margin-top: 24px;
    padding: 12px 32px;
    background: transparent;
    border-radius: 30px;

    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s ease;
    color: #ffff;
}



#listeBeneficesClients {
  width: 100%;
}

.benefice-client {
  max-width: 250px;
  text-align: center;
}





#listeBeneficesClients {
    list-style: none;
    padding: 0;
    margin: 60px auto 80px auto;

    display: flex;
    flex-direction: column;
    gap: 35px;

    max-width: 900px;
    text-align: center;

}

#listeBeneficesClients li::after {
    display: block;
    width: 60px;
    height: 1px;
    margin: 30px auto 0 auto;
}

.titreCentre {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 50px;
    margin-top: 60px;

}




.center {
width: 300px; 
text-align: center; 
        }

        
    